@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// @import "styles/variables.scss";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000 url('../assets/bg.jpeg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}
